.button::before {
    content: "Pasa por encima";
}

.button:hover {
    color: white;
    background-color: green;
}

.button:hover::before {
    content: "hecho!";
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}