
.titulos {
    background-color: coral;
    display: flex;
    justify-content: center;
    gap: 17.5%;

}

.title {
    color: white;
    font-weight: 1000;
    padding: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    
    border-right: 1px solid blue;


}